@font-face {
  font-family: "TS-Reg";
  src: url("../fonts/tripAdvisor-fonts/TripSans-Regular.eot format")
      format("embedded-opentype"),
    url("../fonts/tripAdvisor-fonts/TripSans-Regular.woff2") format("woff2"),
    url("../fonts/tripAdvisor-fonts/TripSans-Regular.woff") format("woff"),
    url("../fonts/tripAdvisor-fonts/TripSans-Regular.ttf") format("truetype"),
    url("../fonts/tripAdvisor-fonts/TripSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TS-Med";
  src: url("../fonts/tripAdvisor-fonts/TripSans-Medium.eot")
      format("embedded-opentype"),
    url("../fonts/tripAdvisor-fonts/TripSans-Medium.woff2") format("woff2"),
    url("../fonts/tripAdvisor-fonts/TripSans-Regular.woff") format("woff"),
    url("../fonts/tripAdvisor-fonts/TripSans-Regular.ttf") format("truetype"),
    url("../fonts/tripAdvisor-fonts/TripSans-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
