@import "reset.css";
@import "fonts.css";
@import "header.css";
@import "footer.css";

body {
  font-size: 16px;
  font-family: TS-Reg;
}

main {
  padding: 0px 200px;
}

nav {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

h1 span {
  color: #ff5e5e;
  font-size: 48px;
}

a {
  cursor: pointer;
}

a:visited {
  color: black;
}

.selection p {
  font-size: 14px;
  margin-bottom: 20px;
}

p span {
  text-decoration: underline;
}

h1 {
  font-size: 48px;
  margin: 30px 0 20px 0;
  font-family: TS-Bold;
}

h2 {
  padding: 40px 0;
  font-size: 28px;
  font-family: TS-Bold;
}

h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: TS-Bold;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.selection-links {
  display: flex;
  justify-content: space-between;
}

.selection-links nav {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  flex: 1;
  margin: 3px;
}

.selection-links nav:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.pictures {
  display: flex;
  height: 450px;
  margin-top: 20px;
  width: 100%;
  gap: 2px;
}
.pictures > img {
  width: 60%;
}

.pictures img:hover {
  cursor: pointer;
  opacity: 60%;
}

.pictures-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 2px;
}

.pictures-side img {
  height: 225px;
}

.pictures-side img:hover {
  cursor: pointer;
  opacity: 60%;
}

.menu {
  font-size: 12px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.menu-page {
  display: flex;
  align-items: flex-start;
}

.menu-page p {
  padding-right: 10px;
}

.menu-page i {
  padding-right: 10px;
}

.information {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
}

.about-paris p {
  font-size: 20px;
  padding-bottom: 40px;
}

.about-paris {
  width: 60%;
  padding-right: 110px;
}

.box-map {
  display: flex;
  flex-direction: column;
  background-color: #fe5e5e;
  border-radius: 20px;
  width: 40%;
}

.maps img {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.organisation {
  height: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.organisation h3 {
  line-height: 1.5;
}

.organisation p {
  line-height: 1.5;
}

.organisation button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 140px;
}

.activities {
  display: flex;
  align-items: center;
}

.col-1 {
  padding-right: 60px;
  flex: 1;
}

.col-1 h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.col-1 p {
  margin-bottom: 20px;
  font-size: 18px;
}

.col-1 a {
  text-decoration: underline;
  cursor: pointer;
}

.col-2 {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  gap: 20px;
  flex: 3;
  scrollbar-width: none;
}

.carroussel {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  width: 300px;
}

.carroussel:hover {
  cursor: pointer;
}

.carroussel:hover h4 {
  text-decoration: underline;
}

.carroussel:hover .image-primary {
  opacity: 70%;
}

.circle:hover {
  opacity: 90%;
}

.circle i {
  font-size: 20px;
}

.carroussel .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  align-self: flex-end;
  height: 40px;
  width: 40px;
  top: 10px;
  right: 10px;
  z-index: 3;
}

.carroussel .image-logo {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 30px;
  bottom: 10px;
  left: 10px;
  z-index: 2;
}

.carroussel-image {
  height: 200px;
  position: relative;
  z-index: 1;
}

.carroussel-text h4 {
  font-family: "TS-Med";
  margin: 10px 0;
}

.rating {
  margin-bottom: 10px;
}

.rating i {
  font-size: 14px;
  color: #04a96c;
}

.rating span {
  font-size: 14px;
}

.carroussel-text p {
  font-size: 14px;
}
